<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img
        src="profile.png"
        class="rounded-circle"
        width="150px"
        height="150px"
      />
      <h1>Hafizh Athallah Yovanka</h1>
      <p>Programmer | Student</p>
    </div>
  </div>
</div>
